.text-center{
    text-align: center;
  }

  .fullwidth{
    width: 100%;
  }
h1{
  margin-top: 50px;
  font-size: 32px;
  font-weight: 500;
  color: #0f1169;
  background-image: radial-gradient(#16cbeb, #15218a);
}
body{
  background-attachment: fixed;
  background-size: cover;
  background-clip: border-box;
  background-position: 0ch;
  background-image: url('https://previews.123rf.com/images/qualitdesign/qualitdesign1911/qualitdesign191100045/135702804-nurse-taking-care-about-seniors-people-in-hospital-vector-flat-cartoon-illustration-doctors-help-eld.jpg');
}
