.text-center{
    text-align: center;
  }

  .fullwidth{
    width: 100%;
  }
  
  img {
    width: 100px,
    
  }
  body {
    
    
    background-attachment: fixed;
    background-image: url('https://previews.123rf.com/images/qualitdesign/qualitdesign2003/qualitdesign200300062/142886041-home-care-services-for-seniors-nurse-or-volunteer-worker-taking-care-of-an-elderly-woman-vector-flat.jpg');

  }
