img {
    width: 100px,
    
  }

  .text-center{
    text-align: center;
  }

  .fullwidth{
    width: 100%;
  }
  body {
    background-attachment: fixed;
    background-position: 0%;
    background-image: url('https://previews.123rf.com/images/liana2012/liana20122105/liana2012210500072/169133026-nurses-take-care-of-the-elderly-in-a-nursing-home-thanks-to-the-nurses-vector-illustration-in-a-flat.jpg');
  }

